<h1>
  Meu primeiro projeto angular
</h1>

<p>Primeira Aula</p>

<p>Consulta de CEP:</p>

<input [(ngModel)]="cep" type="text" placeholder="Digite o CEP">
<button (click)="search()">Buscar</button>

<h1>
  {{cep}}
</h1>

<div *ngIf="endereco">

  <h2>Logradouro</h2>
  <p>
    {{ endereco.logradouro }}
  </p>

  <h2>Complemento</h2>
  <p>
    {{ endereco.complemento }}
  </p>

  <h2>Bairro</h2>
  <p>
    {{ endereco.bairro }}
  </p>

  <h2>Localidade</h2>
  <p>
    {{ endereco.localidade }}
  </p>

  <h2>UF</h2>
  <p>
    {{ endereco.uf }}
  </p>


  <p>Segunda Aula</p>

  <p *ngIf="state ==='loading'">
    carregando...
  </p>

  <p *ngIf="state === 'error'">
    Aconteceu um erro, tente novamente mais tarde!
  </p>
</div>
<ng-container *ngIf="state==='ok'">
  <h2>
    Nome: {{person.name.title}} {{person.name.title}} {{person.name.first}} {{person.name.last}}
  </h2>
  <p>{{person | json}}</p>

  <h2>Endereço Completo</h2>
  <p>{{person.location.street.name}}, nº {{person.location.street.number}}</p>
  <p><strong>Cidade:</strong> {{person.location.city}} <strong>- Estado:</strong> {{person.location.state}}</p>
  <p><strong>Pais:</strong> {{person.location.country}}</p>
  <p><strong>Código Postal:</strong> {{person.location.postcode}}</p>
</ng-container>